<h2><%= @page_header %></h2>

<% @recipes.each_with_index  do |recipe, index| %>
<h2>Recipe Title: <%= recipe[:title] %></h2>
<h3><%= recipe[:ingredients] %></h3>
<h3><%= recipe[:body] %></h3>
<a href="/recipes/<%=index%>"> Click Here </a> 
<br>
<a href="/recipes/<%=index%>/edit">Edit</a>


<form action="/recipes/<%=index%>" method="POST">
	<input type="hidden" name="_method" value="Delete">
	<input type="submit" value="Delete">
</form>
<% end %>